<p-dataTable [value]="lancamentos" [responsive]="true" [paginator]="true" [rows]="5">
  <p-column field="pessoa" header="Pessoa"></p-column>
  <p-column field="descricao" header="Descrição"></p-column>
  <p-column field="dataVencimento" header="Vencimento"></p-column>
  <p-column field="dataPagamento" header="Pagamento"></p-column>
  <p-column field="valor" header="Valor">
    <ng-template let-lancamento="rowData" pTemplate="body">
      <span [style.color]="lancamento.tipo == 'DESPESA' ? 'red' : 'blue'">
        {{ lancamento.valor | currency:'BRL':true:'1.2-3' }}
      </span>
    </ng-template>
  </p-column>
  <p-column>
      <ng-template pTemplate="body">
        <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
        <button pButton icon="fa-trash" pTooltip="Remover" tooltipPosition="top"></button>
      </ng-template>
    </p-column>
</p-dataTable>
