<p-dataTable [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="5">
  <p-column field="nome" header="Nome"></p-column>
  <p-column field="cidade" header="Cidade"></p-column>
  <p-column field="estado" header="Estado"></p-column>
  <p-column field="ativo" header="Status">
    <ng-template let-pessoa="rowData" pTemplate="body">
      <a href="#" pTooltip="{{ pessoa.ativo ? 'Inativo' : 'Ativo' }}" tooltipPosition="top">
        {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
      </a>
    </ng-template>
  </p-column>
  <p-column>
      <ng-template pTemplate="body">
        <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></button>
        <button pButton icon="fa-trash" pTooltip="Remover" tooltipPosition="top"></button>
      </ng-template>
    </p-column>
</p-dataTable>
