<div class="container">
<div class="ui-g">

  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <h1>Lançamentos</h1>
  </div>

  <div class="ui-g-12 ui-fluid">
    <label class="label-bold" for="descricao">Descrição</label>
    <input pInputText id="descricao" type="text">
  </div>

  <div class="ui-g-12">
    <label class="label-bold label-block" for="descricao">Vencimento</label>
    <input pInputText id="descricao" type="text">

    <label class="label-bold" for="descricao">Até</label>
    <input pInputText id="descricao" type="text">
  </div>

  <div class="ui-g-12">
    <button pButton type="submit" label="Pesquisar"></button>
  </div>
</div>
</div>
