<div class="ui-g">

  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <h1>Novo Lançamento</h1>
  </div>

  <form>

    <div class="ui-g-12">
        <p-selectButton [options]="tiposTransacao" optionLabel="name" #tipoTransacao></p-selectButton>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label for="">Vencimento</label>
      <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true"></p-calendar>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label for="">{{ tipoTransacao.value == 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
      <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true"></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label for="">Descrição</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label for="">Valor</label>
      <input type="text" pInputText placeholder="0,00" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.',  allowNegative: false }">
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label for="">Categoria</label>
      <p-dropdown [options]="categorias" [autoWidth]="false" [filter]="true" placeholder="Selecione" #categoria></p-dropdown>
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label for="">Pessoa</label>
      <p-dropdown [options]="pessoas" [autoWidth]="false" [filter]="true" placeholder="Selecione"></p-dropdown>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="">Observação</label>
      <textarea pInputTextarea rows="3"></textarea>
    </div>

    <div class="ui-g-12">
      <button type="submit" pButton label="Salvar"></button>
      <button type="submit" pButton label="Novo" class="ui-button-info"></button>
      <a href="#">Voltar para pesquisa</a>
    </div>

  </form>


</div>
