<div class="ui-g">

  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <h1>Nova Pesoa</h1>
  </div>

  <form>

    <div class="ui-g-12 ui-md-12 ui-fluid">
      <label for="">Nome</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label for="">Logradouro</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label for="">Numero</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label for="">Complemento</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label for="">CEP</label>
      <p-inputMask mask="99.999-999"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label for="">Estado</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label for="">Cidade</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12">
      <button type="submit" pButton label="Salvar"></button>
      <button type="submit" pButton label="Novo" class="ui-button-info"></button>
      <a href="#">Voltar para pesquisa</a>
    </div>

  </form>

</div>
